@import "1-variables/fonts";
@import "1-variables/color";

html,
body {
    font-family: $body-font;
    color: #333;
}

h1, h2, h3 {
    font-weight: 700;
}

header {
    background-color: #eee;
    background-image: url(../../images/pexels-thisisengineering-3861458.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 45rem;
}

@import "3-sections/navbar";

.btn-xprimary {
    border-radius: 50px;
    background-color: #f5313f;
    border-color: #e31e2c;
    color: white;
}

.btn-xsuccess {
    border-radius: 50px;
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.text-orage {
    color: #f17431 !important;
}

.text-pink {
    color: $color-pink !important;
}

.text-brown {
    color: $color-brown !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

//@import "3-sections/full-calendar";
//@import "2-components/xdsoft";
@import "2-components/floating-button";
@import "2-components/breadcrumb";

@import "3-sections/footer";

// @import "2-components/data-notify";
