$tone-primary: #f4313f !default;
$tone-white: white !default;
$tone-brown: #555555 !default;
$tone-gray: #fcfcfc !default;
$line-height: 1.2;

.highlight-primary{
   color: $tone-primary !important;
}